<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>Home Page</title>
</head>
<body>
    <div class="jumbotron">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <p>Hi!!! This is <strong>Home Page</strong></p>
        </div>
        <p>Date/Time now is : {{time}}</p>
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h3>To Sign up please route to /signup</h3>
        </div>
    </div>
</body>
</html>