<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <title>SignUp</title>
</head>
<body>
    <div class="container">
        <form method="POST">
            
            {{form.as_p}}
            <input type="submit"  class="btn btn-primary" value="Submit">
            {% csrf_token %}

        </form>
        
    
        
    </div>
    
</body>
</html>